{% extends 'base.html.twig' %}

 {% block body %}
		<h1 id='h'>Bienvenue sur mon blog</h1>
		<p id='halou'>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la
		mise en page avant impression. Le Lorem Ipsum est le faux texte standard 
		de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assemb
		la ensemble des morceaux de texte pour réaliser un livre spécimen de polices 
		de texte. Il n'a pas fait que survivre cinq</p>

		<p>
		Veuillez nous contactez  
			<a id='a' href="https://myaccount.google.com">
			abakarali39@gmail.com
			</a>
		</p>

 {% endblock %}